@page "/"
@using ApexCharts
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D

<PageTitle>charts</PageTitle>
<div>
    <BECanvas Width="1200" Height="800" @ref="_canvasReference" ></BECanvas>
</div>


<button type="button" class="btn btn-secondary ms-2" @onclick="RunSimulation">Run Simulation</button>
